<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue App</title>
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
    </script>
    <style>
      .default {
        position: relative;
        top: -48px;
        left: 132px;
        text-transform: capitalize;
      }
    </style>
  </head>

  <body id='body'>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <i class="fab fa-vuejs fa-lg has-text-success"></i>
          <h4 class="title is-4">UE DEMO</h4>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        </div>

        <div class="navbar-end">
          <div class="navbar-item">

          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">
              Progress Bar
            </h1>

            <div class="field">
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag">Progress Bar</span>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <p>
                  <progress class="progress" :class="color" :value="time" :max="max"></progress>
                </p>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag">Controls</span>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column is-one-fifth">
                <div class="field has-addons">
                  <p class="control">
                    <a @click="start" class="button is-outlined is-success">
                      <span class="icon">
                        <i class="fa fa-play"></i>
                      </span>
                    </a>
                  </p>
                  <p class="control">
                    <a @click="restart" class="button is-outlined is-info">
                      <span class="icon">
                        <i class="fa fa-redo"></i>
                      </span>
                    </a>
                  </p>
                  <p class="control">
                    <a @click="stop" class="button is-outlined is-danger">
                      <span class="icon">
                        <i class="fa fa-stop"></i>
                      </span>
                    </a>
                  </p>
                </div>
                <span class="button default" :class="color" :disabled="time > 0">Default</span>
              </div>
              <div class="column is-one-quarter">
                <div class="columns">
                  <div class="column is-half">
                    <div class="field">
                      <span class="control has-icons-left">
                        <input class="input" type="number" v-model="max" placeholder="MAX" :disabled="time > 0">
                        <span class="icon is-small is-left">
                          <i class="fa fa-signal"></i>
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <span class="control has-icons-left">
                        <input class="input" type="number" v-model="speed" placeholder="SPEED" :disabled="time > 0">
                        <span class="icon is-small is-left">
                          <i class="fa fa-tachometer-alt"></i>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <div class="tags has-addons">
                  <span :class="color" class="tag">Color</span>
                </div>
              </div>
            </div>

            <a @click="changeColor('is-primary')" class="button is-primary">&nbsp;&nbsp;</a>
            <a @click="changeColor('is-link')" class="button is-link">&nbsp;&nbsp;</a>
            <a @click="changeColor('is-info')" class="button is-info">&nbsp;&nbsp;</a>
            <a @click="changeColor('is-success')" class="button is-success">&nbsp;&nbsp;</a>
            <a @click="changeColor('is-warning')" class="button is-warning">&nbsp;&nbsp;</a>
            <a @click="changeColor('is-danger')" class="button is-danger">&nbsp;&nbsp;</a>
            <a @click="changeColor('is-light')" class="button is-light">&nbsp;&nbsp;</a>
            <a @click="changeColor('is-dark')" class="button is-dark">&nbsp;&nbsp;</a>
            <a @click="changeColor('is-black')" class="button is-black">&nbsp;&nbsp;</a>

          </div>
        </div>

        <div class="columns">
          <div class="column">
            <h1 class="title">
              ???
            </h1>

            <ul id="example-1">
              <li v-for="item in items">
                {{ item.state }}
                <i v-if="item.state" class="far fa-hand-rock fa-2x"></i>

              </li>
            </ul>

          </div>
        </div>
      </div>
    </section>

    <script>
      new Vue({
        el: '.container',
        data: {
          value: '',
          time:  0,
          max:   100,
          speed: 1000,
          color: 'is-primary',
          items: [
            { state: true },
            { state: true }
          ]
        },
        mounted(){
          this.increment()
        },
        methods:{
          increment(){
            this.interval = setInterval(() => {
              if(this.time >= this.max) {
                return;
              }
              this.time = this.time + 1;
            }, this.speed)
          },
          stop(){
            clearInterval(this.interval)
          },
          start(){
            this.increment()
          },
          restart(){
            this.stop()
            this.time = 0;
          },
          changeColor(color){
            this.color = color;
          }
        }
      });
    </script>
  </body>
</html>
